server:
  port: 8888

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/skqwk/RockutorAppConfig
          skipSslValidation: true

# Kubernetes readiness/liveness probes
management:
  endpoint:
    health:
      probes:
        enabled: true
